<nav class="navbar-mobile bg-soft-screen">
  <button
    class="menu-icon bg-success-25 rounded-circle border-0 shadow-success"
    id="menu-toggle"
    #menuToggle>
    <span class="material-symbols-rounded bold text-tian-light">menu</span>
  </button>
  <a class="navbar-brand my-2" href="">
    <img class="mx-4" src="assets/public/images/logo.png"
         style="max-width: 100px; height: auto" alt="Mrkatsu Logo">
  </a>

  <a href="javascript:void(0)" *ngIf="this.isBrowser && !user?.avatar"
     class="text-decoration-none bg-success-25 menu-icon border-0"
     data-bs-target="#loginModal" data-bs-toggle="modal">
    <span class="material-symbols-rounded text-tian-light">account_circle</span>
  </a>
  <div class="dropdown" *ngIf="this.isBrowser && user && authService.getAccessToken()">
    <a href="javascript:void(0)" data-bs-toggle="dropdown">
      <img [src]="user.avatar" class="rounded-circle px-2" style="width: 47px;" alt="Avatar"/>
    </a>
    <div class="dropdown-menu dropdown-menu-sm-end dropdown-menu-lg-start mt-3">
      <a class="dropdown-item text-center"><strong>{{ user.fullName }}</strong></a>
      <a class="dropdown-item text-center" href="javascript:void(0)" (click)="onLogout()">Đăng xuất</a>
    </div>
  </div>
</nav>

<!-- Sidebar for Mobile -->
<div class="sidebar bg-soft-screen " id="sidebar" #sidebar>
  <div class="sidebar-mobile">
    <button class="shadow-none border-0 bg-success-thin rounded-circle" id="close-sidebar" #closeSidebar>
      <i class="fa-lg fas fa-times text-tian-light"></i>
    </button>
  </div>
  <div class="menu-mobile position-absolute">
    <h6 class="text-secondary-light text-center">Tìm kiếm</h6>
    <form class="search-input px-2">
      <div class="position-relative">
        <input type="text" name="searchTerm" class="form-control bg-soft-screen"
               placeholder="Bạn muốn tìm gì? ">
        <button type="submit" class="shadow-none border-0 bg-transparent"><i class="fas fa-search text-white"></i>
        </button>
      </div>
    </form>
    <div class="row px-2 mt-4">
      <div class="col-6 navbar-item">
        <a href="/"
           class="d-flex flex-column justify-content-center align-items-center bg-danger-thin round-7 py-3 mb-3">
          <span class="menu-icon bg-gradient-danger shadow-light">
                    <i class="fas fa-home"></i>
                </span>
          Trang chủ
        </a>
      </div>
      <div class="col-6 navbar-item">
        <a href="/blog"
           class="d-flex flex-column justify-content-center align-items-center bg-warning-thin round-7 py-3 mb-3">
          <span class="menu-icon bg-gradient-warning shadow-light">
                    <i class="fas fa-rss-square"></i>
                </span>
          Bài viết
        </a>
      </div>
      <div class="col-6 navbar-item">
        <a href="/forum"
           class="d-flex flex-column justify-content-center align-items-center bg-primary-thin round-7 py-3 mb-3">
          <span class="menu-icon bg-gradient-primary shadow-light">
                   <i class="fas fa-envelope"></i>
                </span>
          Diễn đàn
        </a>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column justify-content-center align-items-center bg-info-thin round-7 py-3 mb-3">
          <span class="menu-icon bg-gradient-info shadow-light">
                    <i class="fas fa-vr-cardboard fa-flip-both"></i>
                </span>
          Khác
        </div>
      </div>
      <div class="col-12 px-4">
        <div class="bg-success-thin round-7 py-3 row">
          <a href="#collapseCategories" data-bs-toggle="collapse"
             class="d-flex justify-content-between text-decoration-none">
            <div class="col-6 d-flex justify-content-start align-items-center">
              <p class="ms-3 my-0 p-0 text-tian-light fw-medium">Danh mục</p>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <img class="me-3" src="assets/public/images/icon-image/more-icon.png" style="max-width: 36px"
                   alt="arrow-right">
            </div>
          </a>
          <div class="collapse fade" id="collapseCategories">
            <div class="card mt-3 px-1 bg-transparent border-0">
              <div class="row d-flex justify-content-center">
                <!--                <div class="col-3 " *ngFor="let item of this.productService.listCategories">-->
                <!--                  <a href="/product/{{item.seoAlias}}"-->
                <!--                     class="{{item.other}} shadow-light rounded-2 d-flex justify-content-center py-2 px-4">-->
                <!--                    <img [src]="item.seoImage" style="min-height: 32px; width: 26px"/>-->
                <!--                  </a>-->
                <!--                </div>-->
              </div>
              <a class="text-center text-tian-light text-decoration-none mt-3" href="/product/all">
                Xem tất cả
              </a>
            </div>
          </div>
        </div>
      </div>
      <ul class="mt-4">
        <li class="text-center mb-1">
          <a href="/data-nro" class="text-secondary-light text-decoration-none">Data NRO</a>
        </li>
        <li class="text-center mb-1">
          <a href="#" class="text-secondary-light text-decoration-none">Custom QR Code</a>
        </li>
        <li class="text-center mb-1">
          <a href="#" class="text-secondary-light text-decoration-none">Terms of Use</a>
        </li>
        <li class="text-center mb-1">
          <a href="#" class="text-secondary-light text-decoration-none">About me</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="overlay" id="overlay" #overlay></div>
