<h1 class="mb-5 text-uppercase fw-bolder d-flex align-items-center justify-content-center">
  <span class="material-symbols-rounded fs-1 text-warning">local_fire_department</span>
  Sự kiện đang diễn ra
  <span class="material-symbols-rounded fs-1 text-warning">local_fire_department</span>
</h1>
<div class="banner">
  <div class="banner-image">
    <img src="/assets/public/images/banner/anh4.png" alt="Event Banner"/>
    <div class="caption">Khám phá ngay!</div>
    <div class="countdown">
      <div class="time-box">
        <span id="days">{{ days }}</span>
        <span>Ngày</span>
      </div>
      <div class="time-box">
        <span id="hours">{{ hours }}</span>
        <span>Giờ</span>
      </div>
      <div class="time-box">
        <span id="minutes">{{ minutes }}</span>
        <span>Phút</span>
      </div>
      <div class="time-box">
        <span id="seconds">{{ seconds }}</span>
        <span>Giây</span>
      </div>
    </div>
  </div>
</div>
