#tgPassword {
  font-size: 13px;
  text-decoration: none;
  user-select: none;
}

input[type="checkbox"] {
  background-color: transparent !important;
}

input[type="checkbox"]:checked {
  background-color: var(--color-tian) !important;
}
