figure.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 20px auto;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

figure.image img {
  max-width: 100% !important;
  height: auto !important;
  border-radius: 5px !important;
}

figure.image figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  text-align: center !important;
  font-style: italic;
}


.blog a {
  text-decoration: none;
}

.swiper-pagination-bullet {
  color: #00ff21 !important;
  background-color: rgb(100, 210, 131) !important;
}

.swiper-slide img {
  user-select: none;
}

.blog-item {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 220px;
  /*background: url(/assets/images/bg-item.png);*/
  background-size: cover;
  position: relative;
  /* Chiều cao cố định */
}

.blog-item .badge-blog {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 10px;
  z-index: 10;
  align-items: center;
  width: 70px;
  text-align: center;
}

.blog-info {
  display: flex;
  flex-direction: column;
}

.blog-image {
  flex: 0 0 35%;
  /* PC/Tablet: Chiếm 30% chiều ngang */
  height: 100%;
  /* Ảnh chiếm toàn bộ chiều cao */
  user-select: none; /* Ngăn bôi đen */
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Giữ ảnh cân đối */
  transition: filter 0.3s ease;
}

.blog-item:hover .blog-image img {
  filter: brightness(1.15); /* Làm sáng ảnh lên 20% */
}

.blog-content {
  flex: 0 0 65%;
  /* PC/Tablet: Chiếm 60% chiều ngang */
  padding: 20px;
  overflow: hidden;
  /* Ẩn nội dung vượt quá */
}

.blog-content h3 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
}

.blog-content p {
  color: var(--text-color-secondary);
  line-height: 1.2rem;
  font-size: 14px;
}

.blog-content .blog-description {
  margin: 0;
  height: 95px;
  overflow: hidden;
}

.blog-content span {
  bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.blog-detial {
  width: 80%;
}

.blog-detial h3 {
  font-size: 1rem;
  color: var(--text-color);
}

.blog-detial-title h1 {
  font-size: 2rem;
  font-weight: 600;
}

.blog-detail-content {
  border-radius: 20px;
  color: var(--text-color);
}

.blog-detail-content .blog-detail-text {
  padding: 20px;
}

.blog-detail-text iframe {
  width: 100%;
  height: 590px;
  border-radius: 20px;
}

.blog-detail-content img {
  width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều ngang của container */
  height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
  object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
  border-radius: 20px 20px 0 0;
}

.blog-detail-text h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.blog-detail-text h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.blog-detail-text p {
  text-indent: 2rem;
  padding: 0 1.5rem;
}

.blog-detail-text img {
  display: block; /* Đảm bảo hình ảnh là phần tử khối */
  margin: 0 auto; /* Căn giữa hình ảnh theo chiều ngang */
  width: auto;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  user-select: none;
  pointer-events: none;
}

.comment .list-group .list-group-item .badge-blog {
  position: absolute;
  top: 15px;
  right: 10px;
  color: var(--text-color);
  padding: 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.comment .list-group .list-group-item {
  color: var(--text-color);
  position: relative;
}

.like {
  background-color: rgb(76, 203, 112, 0.30);
  padding: 3px 10px;
  border-radius: 15px;
}

.like:hover {
  background-color: rgb(76, 203, 112, 0.50);
}

.dlike {
  background-color: rgb(203, 82, 76, 0.30);
  padding: 3px 10px;
  border-radius: 15px;
}

.dlike:hover {
  background-color: rgb(203, 82, 76, 0.50);
}

/*.paginate {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.paginate a {*/
/*  text-decoration: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  -webkit-user-select: none;*/
/*  user-select: none;*/
/*  margin: 0 5px;*/
/*}*/

/*.paginate .pag-link {*/
/*  color: var(--text-color);*/
/*  width: 36px;*/
/*  height: 36px;*/
/*  font-size: 14px;*/
/*  background: linear-gradient(to bottom, #a6ff79 2%, #3FBC62 99%);*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  border-radius: 50%;*/
/*}*/

/*.paginate .pag-link:hover {*/
/*  box-shadow: 0 0 0 3px #2dce8966 !important;*/
/*  transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*.paginate .pag-link.active {*/
/*  background: linear-gradient(to bottom, #fffa79 2%, #e79e00 99%) !important;*/
/*  color: #821800ff !important;*/
/*  font-weight: 600;*/
/*}*/

/*.paginate .pag-link.active:hover {*/
/*  box-shadow: 0 0 0 3px #fb634066 !important;*/
/*  transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*.paginate .pag-link-b {*/
/*  background-color: rgb(45, 206, 137, 0.30) !important;*/
/*  color: #fff;*/
/*  width: 4.5rem;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  padding: 3px 10px;*/
/*  border-radius: 20px;*/
/*  font-size: 14px;*/
/*}*/

/*.paginate .pag-link-b:hover {*/
/*  background-color: rgb(75, 246, 173, 0.50) !important;*/
/*  transition: background-color 0.3s, color 0.3s;*/
/*}*/

@media (max-width: 768px) {
  .blog-detail-text iframe {
    height: 300px;
  }

  .paginate .pag-link {
    display: none;
  }

  .blog-item {
    flex-direction: column-reverse;
    /* Mobile: Đảo thứ tự */
    height: 350px;
    /* Chiều cao cố định cho Mobile */
  }

  .blog-image {
    flex: 0 0 35%;
    /* Mobile: Chiếm 30% chiều cao */
    height: 35%;
    /* Chiều cao cố định cho ảnh */
  }

  .blog-content {
    flex: 0 0 65%;
    /* Mobile: Chiếm 70% chiều cao */
    height: 65%;
    /* Đảm bảo nội dung vừa khung */
  }

  .blog-content span {
    bottom: 10px;
  }

  .blog-detial {
    width: 100%;
  }

  .blog-detail-content {
    background-position: center;
    background-size: cover;
  }

  .blog-detial-title h1 {
    font-size: 1.5rem;
  }

  .blog-detail-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    margin-right: 4px;
    font-size: 14px;
  }

  a.text-danger-blog {
    color: #fa5757 !important;
  }

  .blog-detail-text img {
    width: 100%;
  }

  .blog-detail-text p {
    text-indent: 1.5rem;
    padding: 0;
  }
}
