.image-section {
  height: 300px; /* Chiều cao cố định */
  background: url('/assets/public/images/thumbs/main_illustration.svg') repeat-x center/auto 300px; /* Ảnh lặp ngang */
  /*background-size: cover;*/
}

.image-section.christmas {
  background: url('/assets/public/images/thumbs/main_ny-illustration.svg') repeat-x center/auto 300px;
}

.image-section.lunar {
  background: url('/assets/public/images/thumbs/main_lunar_illustration.svg') repeat-x center/auto 300px;
}

.text-home{
  transform: translate(50%, 150%);
  right: 50%;
  width: 100%;
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 1025px)
{
  .text-home{
    transform: translate(50%, 100%);
  }
}
@media (max-width: 768px){
  .text-home{
    top: 50%;
    transform: translate(50%, 70%);
  }
  .image-section {
    height: 220px;
    background: url('/assets/public/images/thumbs/main_illustration.svg') repeat-x center/auto 180px; /* Ảnh lặp ngang */
  }

  .image-section.christmas {
    background: url('/assets/public/images/thumbs/main_ny-illustration.svg') repeat-x center/auto 180px;
  }

  .image-section.lunar {
    background: url('/assets/public/images/thumbs/main_lunar_illustration.svg') repeat-x center/auto 180px;
  }
}
