<main class="signup auth">
  <div class="left">
    <a href="#"><img src="/assets/public/images/logo.png" alt="Logo" style="width: 150px;"/></a>
    <h1>Web tải game, ứng dụng hỗ trợ miễn phí</h1>
  </div>
  <div class="right bg-soft-screen shadow d-flex align-items-center position-relative">
    <a class="d-flex align-items-center position-absolute start-0 title" style="top:15px;" routerLink="/">
      <i class="fas fa-long-arrow-alt-left mx-lg-5 mx-3"></i>
      Quay lại trang chủ
    </a>
    <section class="container right-content mt-4 login">
      <a href="/" class="d-flex justify-content-center d-lg-none pb-sm-3 my-3">
        <img src="/assets/public/images/logo.png" alt="Logo" style="width: 150px;"/>
      </a>

      <h3 class="mb-4 mt-0 mt-sm-3">Khôi phục tài khoản</h3>

      <form class="mx-lg-5 px-lg-5 mt-3 auths-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="message" class="alert alert-warning w-100">{{ message }}. Chuyển tới trang đăng nhập sau {{ countdown }} giây...</div>
        <div class="my-2">
          <label class="form-label" for="pw">Mật khẩu mới</label>
          <input type="password" class="form-control bg-soft-screen" id="pw" placeholder="Nhập mật khẩu"
                 formControlName="newPassword">
          @if (hasDisplayError('newPassword')) {
            <div class="error-feedback">
              <ng-container [ngSwitch]="form.controls.newPassword.errors | firstkey">
                <div *ngSwitchCase="'required'">
                  Vui lòng nhập mật khẩu
                </div>
                <div *ngSwitchCase="'minlength'">
                  Mật khẩu phải có ít nhất 6 kí tự
                </div>
              </ng-container>
            </div>
          }
        </div>

        <div class="my-2">
          <label class="form-label" for="cfpw">Xác nhận mật khẩu mới</label>
          <input type="password" class="form-control bg-soft-screen" id="cfpw" placeholder="Xác nhận mật khẩu"
                 formControlName="confirmNewPassword">
          @if (hasDisplayError('confirmNewPassword') && form.controls.confirmNewPassword.hasError('passwordMismatch')) {
            <div class="error-feedback">
              Mật khẩu xác nhận không khớp
            </div>
          }
        </div>
        <button [disabled]="isLoading" type="submit" class="btn bg-gradient-success text-white col-12 mt-2">
          <span *ngIf="!isLoading">Xác nhận thay đổi</span>
          <span *ngIf="isLoading">
                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                  Đợi tí...
          </span>
        </button>
      </form>
    </section>
  </div>
</main>
