a {
  text-decoration: none;
}

main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0D1D2B !important;
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
  height: 100vh;
}

.error-feedback {
  color: red;
  font-size: 13px;
}

.auths-width {
  width: 50%;
}

.signup .left {
  background-image: url('/assets/public/images/background/bg-register.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signin .left {
  background-image: url('/assets/public/images/background/bg-login.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Phần bên trái (25%) */
.left {
  flex: 0 0 30%; /* Chiếm 25% chiều rộng */
  padding: 20px;
  background-color: #0D1D2B;
}

.left h1 {
  color: #4CCB70;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  user-select: none;
}

/* Phần bên phải (75%) */
.right {
  flex: 0 0 70%; /* Chiếm 75% chiều rộng */
  padding: 20px;
  border-radius: 30px 0 0 30px;
}

.right a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.right a:hover {
  color: var(--color-hover);
}

.right a:focus {
  color: #4CCB70;
}

.right .btn:hover {
  box-shadow: 0 0 0 3px rgba(45, 206, 137, 0.25);
}

.right-content h3 {
  text-align: center;
  font-weight: 600;
}

.list-unstyled ul {
  list-style-type: none;
}

.list-unstyled ul li::marker {
  display: none;
}

.auths-form input {
  color: var(--text-color) !important;
}

.auths-form input:focus {
  border-color: #4CCB70;
  box-shadow: none;
}

.auths-form label {
  font-size: 0.9rem;
}

.auths-form a {
  border: 0;
  color: var(--text-color);
}

.auths-form button {
  border-radius: 25px;
  border: 0;
}

/*input{*/
/*  background-color: transparent !important;*/
/*}*/
input[type="checkbox"] {
  background-color: transparent;
}

input[type="checkbox"]:checked {
  background-color: #4CCB70;
}

.login {
  margin: 0 10rem;
}

.auths-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}

.auth-social {
  border: 1px solid var(--bg-soft);
}

.term {
  width: 75%;
}

/* Đáp ứng cho màn hình nhỏ */
@media (max-width: 768px) {
  .term {
    width: 100%;
  }

  .auths-width {
    width: 100%;
  }

  .right {
    flex: 0 0 100%; /* Chiếm 100% chiều rộng */
    border-radius: 30px;
  }

  .left {
    display: none;
  }

  .auths-icon {
    display: none;
  }

  .login {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .auths-width {
    width: 70%;
  }
}
