input {
  border: 1px solid #6c757d !important;
  box-shadow: none !important;
}

input:focus {
  border-color: #4CCB70 !important;
  box-shadow: none;
  transition: border 0.3s ease-in-out;
}

input::placeholder {
  color: #818181 !important;
}

input[type="checkbox"] {
  background-color: transparent !important;
}

input[type="checkbox"]:checked {
  background-color: var(--color-tian) !important;
}
