<div class="modal fade" id="loginModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model-login bg-soft-screen shadow round-7 border-0">
      <div class="modal-body border-0">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="modal-title fw-medium mt-3 ms-lg-4" id="loginModalLabel">Đăng nhập Mrkatsu.io.vn</h5>
          <a href="#" class="bg-transparent mt-3" data-bs-dismiss="modal" style="color: var(--text-color)"
             aria-label="Close">
            <i class="fas fa-times me-3"></i>
          </a>
        </div>

        <div class="d-flex justify-content-between justify-content-center align-items-center mx-lg-4 mt-3">
          <a href=""
             class="bg-facebook auth-social text-center text-decoration-none rounded-3 p-1 me-1 bg-gradient-secondary col-6">
            <i class="fab fa-facebook-f text-light"></i>
          </a>
          <a href="" class="text-center auth-social text-decoration-none rounded-3 p-1 ms-1 bg-light col-6 shadow-sm">
            <i class="fab fa-google text-danger"></i>
          </a>
        </div>

        <form id="loginForm" class="mx-lg-4 mt-3 pt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="d-flex justify-content-center">
            <div id="loginAlert" class="alert alert-warning d-none alert-dismissible mt-2 w-100">
            </div>
          </div>
          <div class="mb-4">
            <label for="username" class="form-label">Login</label>
            <input style="color: var(--text-color)" type="text" class="form-control bg-soft-screen round-5"
                   id="username"
                   formControlName="userName"
                   autocomplete="username"
                   placeholder="Nhập tài khoản">
            @if (hasDisplayErrors('userName') && form.controls.userName.hasError('required')) {
              <div class="error-feedback form-text">
                Vui lòng nhập tài khoản
              </div>
            }

          </div>

          <div class="mb-4 auth-password">
            <div class="d-flex justify-content-between align-items-center">
              <label for="password" class="form-label">Mật khẩu</label>
              <a href="#" id="togglePassword" class="text-tian-light pe-2"> Hiển thị </a>
            </div>

            <input style="color: var(--text-color)" type="password" class="form-control bg-soft-screen round-5"
                   id="password"
                   formControlName="password"
                   autocomplete="current-password"
                   placeholder="Nhập mật khẩu">
            @if (hasDisplayErrors('password') && form.controls.password.hasError('required')) {
              <div class="error-feedback form-text">
                Vui lòng nhập mật khẩu
              </div>
            }
          </div>

          <div class="form-check mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="form-check-label user-select-none">
                <input class="form-check-input" type="checkbox" id="rememberMe"
                       formControlName="rememberMe">
                Nhớ mật khẩu
              </label>

              <a href="/forgot-password" class="text-tian-light text-decoration-none">Quên mật khẩu</a>
            </div>

          </div>

          <div class="d-flex justify-content-between mb-4 pt-3">
            <button [disabled]="isLoading" type="submit"
                    class="round-7 bg-gradient-success shadow-hover-success border-0 fw-medium text-white col-6 py-2 me-1">
              @if (!isLoading) {
                <span>Đăng nhập</span>
              } @else {
                <span><span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                  Đợi tí...</span>
              }
            </button>
            <a href='/register'
               class="round-7 shadow-hover-warning bg-gradient-warning border-0 fw-medium text-brown col-6 py-2 text-center text-decoration-none ms-1">Đăng
              ký</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
