<section class="container w-100">

  <div class="d-flex justify-content-between align-items-center mb-3 fs-5 fw-bold">
    <div>
            <span class="menu-lg-icon bg-gradient-warning shadow-primary">
                <i class="fas fa-fire"></i>
            </span>
      Đề xuất
    </div>
    <a href="/product" class="text-white text-decoration-none">
    <span class="d-md-none menu-lg-icon bg-gradient-success shadow-success fs-6">
                <i class="fas fa-chevron-circle-right"></i>
            </span>
      <p class="d-none d-md-inline bg-tian-light shadow round-7 py-2 px-3 fs-6">Xem thêm</p>
    </a>
  </div>
  <div class="swiper productSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" class="card bg-transparent my-2">
          <div class="badge bg-soft shadow-warning round-7">
            <i class="fas fa-cloud-upload-alt fs-6 mt-2 mb-1"></i>
            <span class="my-2">2.4.2</span>
          </div>
          <img src="assets/public/images/examps/items/dead-cell.jpg" class="card-img-top" alt="Category 2">
          <div class="card-body">
            <div class="circle circle-danger" style="width: 250px; height: 250px; top: -50%; left: 5%;"></div>
            <div class="circle circle-primary" style="width: 160px; height: 160px; top: -30%; left: 60%;"></div>
            <div class="circle circle-warning" style="width: 140px; height: 140px; top: -30%; left: -15%;"></div>
            <div class="card-text">
              <h5 class="card-title">
                Dead Cell
              </h5>
              <p>Upload by <strong>MrKatsu</strong></p>
            </div>

          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card bg-transparent my-2">
          <div class="badge bg-soft shadow-warning round-7">
            <i class="fas fa-cloud-upload-alt fs-6 mt-2 mb-1"></i>
            <span class="my-2">2.4.2</span>
          </div>
          <img src="/assets/public/images/examps/items/crunchyroll.jpg" class="card-img-top" alt="Category 2">
          <div class="card-body">
            <div class="circle circle-danger" style="width: 250px; height: 250px; top: -50%; left: 5%;"></div>
            <div class="circle circle-primary" style="width: 160px; height: 160px; top: -30%; left: 60%;"></div>
            <div class="circle circle-warning" style="width: 140px; height: 140px; top: -30%; left: -15%;"></div>
            <div class="card-text">
              <h5 class="card-title">
                Crunchyroll
              </h5>
              <p>Upload by <strong>Manhhdc</strong></p>
            </div>

          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card bg-transparent my-2">
          <div class="badge bg-soft shadow-warning round-7">
            <i class="fas fa-cloud-upload-alt fs-6 mt-2 mb-1"></i>
            <span class="my-2">2.4.2</span>
          </div>
          <img src="assets/public/images/examps/items/demon-blade.jpg" class="card-img-top" alt="Category 2">
          <div class="card-body">
            <div class="circle circle-danger" style="width: 250px; height: 250px; top: -50%; left: 5%;"></div>
            <div class="circle circle-primary" style="width: 160px; height: 160px; top: -30%; left: 60%;"></div>
            <div class="circle circle-warning" style="width: 140px; height: 140px; top: -30%; left: -15%;"></div>
            <div class="card-text">
              <h5 class="card-title">
                Demon Blade
              </h5>
              <p>Upload by <strong>Hùng Hero</strong></p>
            </div>

          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card bg-transparent my-2">
          <div class="badge bg-soft shadow-warning round-7">
            <i class="fas fa-cloud-upload-alt fs-6 mt-2 mb-1"></i>
            <span class="my-2">2.4.2</span>
          </div>
          <img src="assets/public/images/examps/items/cytus.jpg" class="card-img-top" alt="Category 2">
          <div class="card-body">
            <div class="circle circle-danger" style="width: 250px; height: 250px; top: -50%; left: 5%;"></div>
            <div class="circle circle-primary" style="width: 160px; height: 160px; top: -30%; left: 60%;"></div>
            <div class="circle circle-warning" style="width: 140px; height: 140px; top: -30%; left: -15%;"></div>
            <div class="card-text">
              <h5 class="card-title">
                Cytus
              </h5>
              <p>Upload by <strong>ElectroheavenVN</strong></p>
            </div>

          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card bg-transparent my-2">
          <div class="badge bg-soft shadow-warning round-7">
            <i class="fas fa-cloud-upload-alt fs-6 mt-2 mb-1"></i>
            <span class="my-2">2.4.2</span>
          </div>
          <img src="assets/public/images/examps/items/tag-team.jpg" class="card-img-top" alt="Category 2">
          <div class="card-body">
            <div class="circle circle-danger" style="width: 250px; height: 250px; top: -50%; left: 5%;"></div>
            <div class="circle circle-primary" style="width: 160px; height: 160px; top: -30%; left: 60%;"></div>
            <div class="circle circle-warning" style="width: 140px; height: 140px; top: -30%; left: -15%;"></div>
            <div class="card-text">
              <h5 class="card-title">
                Avalar: Tag Team ARPG
              </h5>
              <p>Upload by <strong>MrKatsu</strong></p>
            </div>

          </div>
        </a>
      </div>
    </div>
  </div>
</section>

