<div class="container-fluid">
  <div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="display-6 fw-bold">Category Manage</h1>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <app-category-form/>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-content-start mb-2 border px-4 py-3 rounded-3"
            *ngFor="let pd of service.list">
          <div class="flex-grow-1 mouse-hover" (click)="populateForm(pd)">
            <div class="fw-bold">{{ pd.id }}</div>
            <img [src]="pd.image" alt="image" class="img-thumbnail" style="width: 60px; height: 60px;">
            <div>Tên: {{ pd.name }}</div>
            <div>Ghi chú: {{ pd.other }}</div>
          </div>
          <span class="text-secondary">
          <i class="fa-solid fa-trash-can fa-lg mouse-hover"></i>
        </span>
        </li>
      </ul>
    </div>
  </div>

</div>
