<section class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-3 fs-5 fw-bold">
    <div>
            <span class="menu-lg-icon bg-gradient-primary shadow-primary">
                <i class="fas fa-archive"></i>
            </span>
      Bài viết mới nhất
    </div>
    <a href="#" class="text-white text-decoration-none fs-6">
    <span class="d-md-none menu-lg-icon bg-gradient-success shadow-success">
                <i class="fas fa-chevron-circle-right"></i>
            </span>
      <p class="d-none d-md-inline bg-gradient-success shadow-warning round-7 py-2 px-3">Xem thêm</p>
    </a>
  </div>
  <div class="row">
    <!-- Blog 1 -->
    <div class="col-lg-6 col-md-12 col-12 blog">
      <a href="#">
        <div class="blog-item round-7 bg-soft-screen shadow-sm">
          <!-- Nội dung Blog -->
          <div class="badge-blog text-white bg-tian-light shadow-warning py-2 round-7">
            <i class="fas fa-eye"></i>
            <span class="my-2">13k.3</span>
          </div>
          <div class="blog-content position-relative">
            <h3>Tiêu đề Blog 1</h3>
            <p class="m-0 py-1 text-tian-light">Đăng 1 năm trước bởi <strong>MrKatsu</strong></p>
            <p class="blog-description">
              Đây là nội dung tóm tắt của blog. Nội dung có thể dài hơn một chút nhưng luôn hiển thị đẹp mắt. Đây là nội dung tóm tắt của blog. Nội dung có thể dài hơn một chút nhưng luôn hiển thị đẹp mắt.
            </p>
            <span class="read-more text-tian-light position-absolute">Xem thêm</span>
          </div>
          <!-- Ảnh minh họa -->
          <div class="blog-image">
            <img src="/assets/public/images/examps/blogs/manga-color-8.jpg" alt="Blog Image 1">
          </div>
        </div>
      </a>

    </div>
    <!-- Blog 2 -->
    <div class="col-lg-6 col-md-12 col-12 blog">
      <a href="#">
        <div class="blog-item round-7 bg-soft-screen shadow-sm">
          <!-- Nội dung Blog -->
          <div class="badge-blog text-white bg-tian-light shadow-warning py-2 round-7">
            <i class="fas fa-eye"></i>
            <span class="my-2">30</span>
          </div>
          <div class="blog-content position-relative">
            <h3>Đây là tiêu đề của bài viết nhưng được viết dài hơn.</h3>
            <p class="m-0 py-1 text-tian-light">Đăng 22 Tháng 12 bởi <strong>MrKatsu</strong></p>
            <p class="blog-description">
              Đây là nội dung tóm tắt của blog. Nội dung có thể dài hơn một chút nhưng luôn hiển thị đẹp mắt. Đây là nội dung tóm tắt của blog. Nội dung có thể dài hơn một chút nhưng luôn hiển thị đẹp mắt.
            </p>
            <span class="read-more text-tian-light position-absolute">Xem thêm</span>
          </div>
          <!-- Ảnh minh họa -->
          <div class="blog-image">
            <img src="/assets/public/images/examps/blogs/manga-color-5.jpg" alt="Blog Image 1">
          </div>
        </div>
      </a>

    </div>
  </div>
</section>
