<footer class=" text-center text-lg-start bg-soft-screen">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <a href="https://discord.gg/teJEP2XvKZ" target="_blank" class="mt-3 text-decoration-none"
         style="width: fit-content">
        <div class="d-flex justify-content-center">
          <img alt="" class="shadow-primary rounded-circle lazy" src="/assets/public/images/icon-image/discord.png"
               style="max-width: 34px; height:auto;"/>
        </div>
        <p class="text-center text-info">Tham gia cộng đồng</p>
      </a>

      <p class="d-flex align-items-center justify-content-center">
        <span class="menu-sm-icon bg-warning text-brown material-symbols-rounded fs-6">copyright</span>
        2024 Copyright by <a class="text-decoration-none text-info mx-1" href="https://github.com/Mrk4tsu" target="_blank">Mrkatsu</a>.
      </p>
    </div>
  </div>
</footer>
