<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input formControlName="currentPassword" placeholder="Mật khẩu cũ" type="password">
  <input formControlName="newPassword" placeholder="Mật khẩu mới" type="password">
  <input formControlName="confirmPassword" placeholder="Xác nhận mật khẩu mới" type="password">
  <input class="form-check-input" type="checkbox" formControlName="logoutEverywhere"> Đăng xuất khỏi các thiết bị khác
  <button type="submit" [disabled]="form.invalid">Gửi yêu cầu</button>
</form>
