<div class="container">
  <div class="mb-3">
    <input
      type="file"
      class="form-control"
      (change)="fileChangeEvent($event)"
      accept="image/*"
    >
  </div>

  <!-- Modal crop ảnh -->
  @if (showCropper) {
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">Cắt ảnh đại diện</div>
        <div class="modal-body">
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1/1"
            format="png"
            (imageCropped)="imageCropped($event)"
          ></image-cropper>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="cancel()">Hủy</button>
          <button class="btn btn-primary" (click)="confirmCrop()">Xác nhận</button>
        </div>
      </div>
    </div>
  }

  @if (showPreview) {
    <div class="preview-container">
      <div class="preview-image">
        <img [src]="croppedImage" class="img-thumbnail" width="300">
      </div>
      <div class="preview-actions">
        <button class="btn btn-warning" (click)="recrop()">Recrop</button>
        <button class="btn btn-success" (click)="saveImage()">Lưu lại</button>
<!--        <button class="btn btn-danger" (click)="cancel()">Hủy</button>-->
      </div>
    </div>
  }

</div>
